<div class="top-wrapper">
  <div class="top-contents">
    <%= image_tag 'logo.png', class: 'img-fluid d-flex mx-auto' %>
    <p class="text-center pb-2 h5 text-white"><%= (t '.catch_phrase') %></p>
    <div class="d-flex justify-content-center p-3">
      <%= link_to new_voice_path do %>
        <button type="button" class="btn btn-dark rounded-pill"><%= (t '.to_change_page') %></button>
      <% end %>
    </div>
    <div class="d-flex justify-content-center p-3">
      <button type="button" class="btn btn-dark rounded-pill"><%= (t '.to_list') %></button>
    </div>
  </div>
</div>