<div class="container-fluid py-5 bg-dark text-white">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 py-5">
      <h1  class="text-center">ユーザー登録</h1>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= f.submit '登録する', class: 'btn btn-primary d-block mx-auto rounded-pill text-black my-3' %>
      <% end %>

      <div class="text-center">
        <%= link_to 'ログインページ', login_path, class: 'text-white text-decoration-none' %>
      </div>
    </div>
  </div>
</div>