<header>
  <nav class='navbar navbar-expand-lg fixed-top navbar-light' style='background-color: #f40000'>
    <div class='container-fluid'>
      <%= link_to 'デスボイスチェンジャー', root_path, class: 'navbar-brand' %>
      <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse flex-row-reverse' id='navbarNav'>
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <%= link_to '#', class: 'nav-link' do %>
              <i class='fas fa-microphone'></i>録音
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to '#', class: 'nav-link' do %>
              <i class='fas fa-list-ul'></i>一覧
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to '#', class: 'nav-link' do %>
              <i class="fas fa-compact-disc"></i>マイデスボ
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to '#', class: 'nav-link' do %>
              <i class="fas fa-star"></i>お気に入り
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to '#', class: 'nav-link' do %>
              <i class="fas fa-user-circle"></i>アカウント設定
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to '#', class: 'nav-link' do %>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>