<% set_meta_tags og: {image: "https://res.cloudinary.com/hau5t9i0p/image/upload/l_text:wlfszpoyjjija9nply3b.woff2_60:#{@answer.description},w_800,c_fit/v1658125205/bpqcf2msyto36hky7suz.png" } %>
<div class="container-fluid bg-dark text-white py-5 d-flex justify-content-center flex-column text-center">
  <h2><%= Topic.model_name.human %></h2>
  <%= link_to topic_path(@topic), class: 'text-decoration-none' do %>
    <div class="col-10 offset-1 p-2">
      <div class="row col-12">
        <div class="card bg-gray-color text-white border-dark p-3">
          <div class="card-body">
            <h4 class="card-title"><%= @topic.body %></h4>
            <p class="card-text"><%= (t 'defaults.topic_giver') %><%= @topic.user.name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flex-column">
    <div class="mt-5 mb-3 h3">
      <%= Answer.model_name.human %>
    </div>
    <div class="mb-2 h4 text-break">
      <%= @answer.description %>
    </div>
    <div class="mb-4 h5 text-break">
      <% unless @answer.user.role == "guest" %>
        <%= (t 'defaults.by') %><%= @answer.user.name %>
      <% end %>
    </div>
    <div class="py-2">
      <%= audio_tag("#{@answer.growl_voice.url}", controls: true, id: 'js-answer-show-page-player') %>
    </div>
    <% if logged_in? && @answer.user_id == current_user.id %>
      <div class="py-3 btn-group">
        <div class="mx-3">
          <%= link_to edit_topic_answer_path(@topic, @answer) do %>
            <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-pen"></i><%= (t 'defaults.to_edit') %></button>
          <% end %>
        </div>
        <div class="mx-3">
          <%= link_to topic_answer_path(@topic, @answer), method: :delete, data: { confirm: (t 'defaults.message.delete_confirm') } do %>
            <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-trash"></i><%= (t 'defaults.to_delete') %></button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "https://twitter.com/share?url=#{request.url}&text=お題「#{@answer.topic.body}」に回答&hashtags=デスボイス,ボイスチェンジャー,デスボイスチェンジャー", target: '_blank', class: 'btn btn-dark mx-auto rounded-pill mt-3 twitter-color text-white' do %>
    <i class="fab fa-twitter"></i> シェアする
  <% end %>
</div>