<div class="container-fluid bg-dark text-white">
  <h1 class="text-center py-4"><%= (t '.title') %></h1>
  <div class="d-flex justify-content-center py-4">
    <audio id="js-player" controls></audio>
    <a id="js-download-link" type="hidden"></a>
  </div>
  <div id="js-recording-state" class="text-center d-none"><%= (t 'defaults.now_recording') %></div>
  <div class="d-flex justify-content-center py-2">
    <button id="js-mic-permition-button" class="btn btn-primary rounded-pill"><%= (t 'defaults.mic_permition') %></button>
    <button id="js-recording-start-button" class="btn btn-primary rounded-pill d-none"><%= (t 'defaults.recording_start') %></button>
    <button id="js-recording-stop-button" class="btn btn-primary rounded-pill d-none"><%= (t 'defaults.recording_stop') %></button>
    <button id="js-replay-button" class="btn btn-primary rounded-pill d-none"><%= (t 'defaults.replay') %></button>
    <button id="js-stop-replay-button" class="btn btn-primary rounded-pill d-none"><%= (t 'defaults.stop_replay') %></button>
  </div>
  <div class="d-flex justify-content-center py-2">
    <button id="js-reset-button" class="btn btn-primary rounded-pill d-none"><%= (t 'defaults.reset') %></button>
  </div>

  <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <%= form_with url: voices_path, local: true do |f| %>
      <div id="js-voice-error-message"></div>
      <%= f.hidden_field :growl_voice %>
      <%= f.label :description, '内容 ※音声にタイトルをつけるとしたら？' %>
      <%= f.text_field :description, class: 'form-control', id: 'description-form' %>
    <% end %>
  </div>
  <div class="pb-5">
    <% if logged_in? %>
      <button id="js-voice-save-button" class="btn btn-primary d-block mx-auto rounded-pill text-black my-3 d-none"><%= (t '.save_as_logged_in_user') %></button>
    <% else %>
      <button id="js-voice-save-button" class="btn btn-primary d-block mx-auto rounded-pill text-black my-3 d-none"><%= (t '.to_share') %></button>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'recording' %>