<div class="container-fluid bg-dark text-white">
  <h1 class="text-center py-4">録音・加工する</h1>
  <div class="d-flex justify-content-center py-4">
    <audio id="js-player" controls></audio>
    <a id="js-download-link" type="hidden"></a>
  </div>
  <div id="js-recording-state" class="text-center d-none">Now Recording ...</div>
  <div class="d-flex justify-content-center py-2">
    <button id="js-mic-permition-button" class="btn btn-primary rounded-pill">マイク許可</button>
    <button id="js-recording-start-button" class="btn btn-primary rounded-pill d-none">録音開始</button>
    <button id="js-recording-stop-button" class="btn btn-primary rounded-pill d-none">録音停止</button>
    <button id="js-replay-button" class="btn btn-primary rounded-pill d-none">音声再生</button>
    <button id="js-stop-replay-button" class="btn btn-primary rounded-pill d-none">再生停止</button>
  </div>
  <div class="d-flex justify-content-center py-2">
    <button id="js-reset-button" class="btn btn-primary rounded-pill d-none">録り直す</button>
  </div>

  <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <%= form_with model: @voice, local: true do |f| %>
      <%= f.hidden_field :growl_voice %>
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control', id: 'description-form' %>
    <% end %>
  </div>
  <% if logged_in? %>
    <button id="js-result-button" class="btn btn-primary d-block mx-auto rounded-pill text-black my-3">保存してシェア画面へ</button>
  <% else %>
    <button id="js-result-button" class="btn btn-primary d-block mx-auto rounded-pill text-black my-3">ユーザー登録してシェア</button>
    <button id="js-result-button" class="btn btn-primary d-block mx-auto rounded-pill text-black my-3">ユーザー登録せずシェア</button>
  <% end %>
</div>

<%= javascript_pack_tag 'recording' %>