<div class="container-fluid bg-dark text-white">
  <div class="d-flex justify-content-center text-center">
    <div class="">
      <div class="mt-5 mb-4 h3">
        <%= Voice.human_attribute_name(:description) %>
      </div>
      <div class="mb-4 h4 text-break">
        <%= @voice.description %>
      </div>
      <div class="mb-4 h5 text-break">
        <% unless @voice.user.role == "guest" %>
          <%= (t '.by') %><%= @voice.user.name %>
        <% end %>
      </div>
      <div class="">
        <%= audio_tag("#{@voice.growl_voice.url}", controls: true, id: 'js-show-page-player') %>
      </div>
      <div class="m-3 d-flex justify-content-center">
        <div class="mx-3">
          <%= link_to '#' do %>
            <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-pen"></i> 編集</button>
          <% end %>
        </div>
        <div class="mx-3">
          <%= link_to '#' do %>
          <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-trash"></i> 削除</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>