<% set_meta_tags og: {image: "https://res.cloudinary.com/hau5t9i0p/image/upload/l_text:wlfszpoyjjija9nply3b.woff2_60:#{@voice.description},w_800,c_fit/v1658125205/bpqcf2msyto36hky7suz.png" } %>
<div class="container-fluid bg-dark text-white">
  <div class="d-flex justify-content-center text-center">
    <div class="flex-column">
      <div class="mt-5 mb-4 h3">
        <%= Voice.human_attribute_name(:description) %>
      </div>
      <div class="mb-4 h4 text-break">
        <%= @voice.description %>
      </div>
      <div class="mb-4 h5 text-break">
        <% unless @voice.user.role == "guest" %>
          <%= (t 'defaults.by') %><%= @voice.user.name %>
        <% end %>
      </div>
      <div class="py-5">
        <%= audio_tag("#{@voice.growl_voice.url}", controls: true, id: 'js-show-page-player') %>
      </div>
      <% if logged_in? && @voice.user_id == current_user.id %>
        <div class="pb-5 d-flex justify-content-center">
          <div class="mx-3">
            <%= link_to edit_voice_path(@voice) do %>
              <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-pen"></i><%= (t 'defaults.to_edit') %></button>
            <% end %>
          </div>
          <div class="mx-3">
            <%= link_to voice_path(@voice), method: :delete, data: { confirm: (t 'defaults.message.delete_confirm') } do %>
            <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-trash"></i><%= (t 'defaults.to_delete') %></button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>