<div class="container-fluid bg-dark text-white text-center py-5">
  <h2 class="pb-5"><%= (t '.title') %></h2>
  <div class="col-10 offset-1 d-flex justify-content-center text-center">
    <div class="row col-12 g-0">
      <div class="card bg-light text-dark border-dark p-3">
        <div class="card-body">
          <p class="card-text"><%= (t '.name_is') %><%= current_user.name %></p>
          <p class="card-text"><%= (t '.email_is') %><%= current_user.email %></p>
        </div>
      </div>
      <p class="pt-2"><%= (t '.caution_about_leave') %></p><br>
      <p><%= (t '.caution_about_topics') %></p>
      <div class="py-3 d-flex justify-content-center">
        <div class="mx-3">
          <%= link_to edit_mypage_path do %>
            <button class="btn btn-primary mx-auto rounded-pill"><i class="fas fa-pen"></i><%= (t 'defaults.to_edit') %></button>
          <% end %>
        </div>
        <div class="mx-3">
          <%= link_to user_path(current_user), method: :delete, data: { confirm: (t '.leave_confirm') } do %>
            <button class="btn btn-primary mx-auto rounded-pill"><%= (t '.leave_button') %></button>
          <% end %>
        </div>
      </div>
      <h2 class="pt-5 pb-3"><%= Voice.human_attribute_name(:growl_voice) %></h2>
      <% if @voices.present? %>
        <% @voices.each do |voice| %>
          <%= render 'voice', voice: voice %>
        <% end %>
      <% else %>
        <h5><%= (t 'defaults.voice_not_found_message') %></h5>
      <% end %>
      <div class="d-flex justify-content-center mt-3">
        <%== pagy_bootstrap_nav(@pagy_voices) if @pagy_voices.pages > 1 %>
      </div>
      <h2 class="pt-5 pb-3"><%= Answer.model_name.human %></h2>
      <% if @answers.present? %>
        <% @answers.each do |answer| %>
          <%= render 'answer', answer: answer %>
        <% end %>
      <% else %>
        <h5><%= (t 'defaults.answer_not_found_message') %></h5>
      <% end %>
      <div class="d-flex justify-content-center mt-3">
        <%== pagy_bootstrap_nav(@pagy_answers) if @pagy_answers.pages > 1 %>
      </div>
    </div>
  </div>
</div>