<div class="container-fluid py-5 bg-dark text-white">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 py-5">
      <h1 class="text-center"><%= (t 'defaults.login') %></h1>
      <%= form_with url: login_url, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email, User.human_attribute_name(:email) %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, User.human_attribute_name(:password) %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <%= f.submit (t 'defaults.login'), class: 'btn btn-primary d-block mx-auto rounded-pill text-black my-3' %>
      <% end %>
      <div class="text-center">
        <%= link_to auth_at_provider_path(provider: :twitter), class: 'btn btn-dark mx-auto twitter-color rounded-pill my-3' do %>
          <i class="fab fa-twitter"></i> Twitterログイン
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to (t '.to_register'), new_user_path, class: 'text-white text-decoration-none my-5' %>
      </div>
    </div>
  </div>
</div>